@media all and (min-width: 768px) and (max-width: 1024px)
{
    /* paramètres global */
    * 
    {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    body
    {
        background-color: rgb(202, 202, 202);
    }
    .blocpage
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        background-color: white;
    }
    .menu-bouton, .hr1
    {
        display: none;
    }

    /* paramètres headers */
    header
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
    }
    .logo
    {
        width: 5.5rem;
        height: 5.5rem;
        margin: auto;
    }
    h1
    {
        color: rgba(173, 55, 12, 0.781);
        margin-top: 1rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    ul
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        width: 90%;
        overflow: hidden;
        margin-top: 4rem;
        margin: auto;
    }
    ul li
    {
        margin-top: 0.1rem;
        height: 2.5rem;
        text-align: center;
        font-weight: bold;
        padding-top: 0.6rem;
        background-color: rgb(202, 202, 202);
        justify-content: space-between;
        flex: 1;
    }
    li a
    {
        text-decoration: none;
        color: black;
    }

    /* paramètres article */
    article
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding: 2rem 0rem 2rem 0rem;
    }
    h2
    {
        text-align: center;
        font-size: 1.4rem;
    }
    .desert
    {
        width: 95%;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* paramètres aside */
    aside
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
        justify-content: space-between;
        margin-top: 1.5rem;
        margin-bottom: 4.5rem;
    }
    .top
    {
        display: flex;
        flex-direction: column;
        width: 10rem;
    }
    .top hr
    {
        width: 100%;
        padding-right: 1rem;
    }
    ol
    {
        padding-left: 1rem;
        margin-top: 1rem;
    }
    .galerie
    {
        display: flex;
        flex-direction: column;
        width: 20rem;
    }
    .img
    {
        height: 3rem;
        width: 3rem;
    }
    h3
    {
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
    .bloc_img
    {
        margin-top: 1.5rem;
    }

    /* paramètres footer */
    footer span
    {
        font-size: 1rem;
        margin: auto;
        display: flex;
        justify-content: center;
        margin: 1rem 1rem;
    }
}
